.head{
    background-color: #F47308;
    font-weight: 700;
    text-align: center;
}

.main{
    background-color: #77CCFF;
    text-align: center;
}

.foot{
    background-color: #5ced73;
    text-align: center;
}

.side{
    background-color: #f94449;
    text-align: center;
}